 <div class="title">
<h2>団体戦</h2>
 </div>

 <div class="article">
<% @tweets.each do |t| %>
    <% if t.category == "dantai" %> 
    <h2>
    <a class="linkcolor">

    <ul>  
    <li>
    <%= link_to tweet_path(t.id) do %>
    <%= t.name %>
    <%= t.goal %>
    </a>

    </h2>
    <% end %>    </li>
     <% end %>
     </ul>
  <% end %>
  </div>
