<div class="info">
  <div class="overviewtext"><h1>関連リンク</h1></div>


  <a href="https://kanto15renmei.com/kiyaku/"><h2>関東学生囲碁連盟</h2></a>
  <a href="https://sites.google.com/site/kantougakusei15bleague/"><h2>関東学生囲碁Bリーグ</h2></a>
  <a href="https://zennihongakusei15renmei.com/"><h2>全日本学生囲碁連盟</h2></a>
  <a href="https://kanto15renmei.com/kiyaku/"><h2>慶應義塾大学囲碁部OBOG会</h2></a>
  <a href="https://www.bunren.keio-zenkyo.net/"><h2>慶應義塾大学文化団体連盟本部</h2></a>
  <a href="https://info-jukusei.com/"><h2>慶應義塾大学塾生情報局</h2></a>
  <a href="https://theokuratokyo.jp/experience/#gosalon"><h2>ホテルオークラ　囲碁サロン</h2></a>
  <a href="http://iidabashiigo.ikidane.com/"><h2>碁会所囲碁ファースト飯田橋</h2></a>
  
  </div>